.custom-img-size {
    max-height: 1000px; /* Adjust the height as needed */
    width: auto;
}
.carousel-container {
    max-width: 1000px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
}

