{% extends "base.html" %}

{% block title %}
Combined Histograms
{% endblock %}

{% block content %}
<div class="container mt-5 carousel-container" data-bs-theme="dark">
  <div id="histogramCarousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      {% for histogram in histograms %}
      <button type="button" data-bs-target="#histogramCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
      {% for i in combined_histogram_indices %}
      <button type="button" data-bs-target="#histogramCarousel" data-bs-slide-to="{{ i }}" aria-label="Combined Histogram {{ combined_histograms.forloop.counter0.attribute }}"></button>
      {% endfor %}
      {% for i in gmm_plot_indices %}
      <button type="button" data-bs-target="#histogramCarousel" data-bs-slide-to="{{ i }}" aria-label="GMM Plot {{ gmm_plots.forloop.counter0.attribute }}"></button>
      {% endfor %}
      <button type="button" data-bs-target="#histogramCarousel" data-bs-slide-to="{{ index_3d_b }}" aria-label="3D Histogram Benign"></button>
      <button type="button" data-bs-target="#histogramCarousel" data-bs-slide-to="{{ index_3d_m }}" aria-label="3D Histogram Malignant"></button>
      <button type="button" data-bs-target="#histogramCarousel" data-bs-slide-to="{{ index_3d_combined }}" aria-label="3D Histogram Combined"></button>
    </div>
    <div class="carousel-inner">
      {% for histogram in histograms %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="data:image/png;base64,{{ histogram.image }}" class="d-block w-100 custom-img-size" alt="Histogram of {{ histogram.attribute }} for {{ histogram.diagnosis }}">
      </div>
      {% endfor %}
      {% for combined_histogram in combined_histograms %}
      <div class="carousel-item">
        <img src="data:image/png;base64,{{ combined_histogram.image }}" class="d-block w-100 custom-img-size" alt="Combined Histogram of {{ combined_histogram.attribute }}">
      </div>
      {% endfor %}
      {% for gmm_plot in gmm_plots %}
      <div class="carousel-item">
        <img src="data:image/png;base64,{{ gmm_plot.image }}" class="d-block w-100 custom-img-size" alt="GMM Plot of {{ gmm_plot.attribute }}">
      </div>
      {% endfor %}
      <div class="carousel-item">
        <img src="data:image/png;base64,{{ plot_3d_histogram_b }}" class="d-block w-100 custom-img-size" alt="3D Histogram of Perimetro and Textura (Benign)">
      </div>
      <div class="carousel-item">
        <img src="data:image/png;base64,{{ plot_3d_histogram_m }}" class="d-block w-100 custom-img-size" alt="3D Histogram of Perimetro and Textura (Malignant)">
      </div>
      <div class="carousel-item">
        <img src="data:image/png;base64,{{ plot_3d_histogram_combined }}" class="d-block w-100 custom-img-size" alt="3D Histogram of Perimetro and Textura (Combined)">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#histogramCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#histogramCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}





